<%- include('./partials/header'); %>
    <% if (login) { %>
        <div class="login">
            <h1>Cambio de contraseña:</h1>
            <form action="/password" method="POST">
                <label>Contraseña actual
                    <input type="password" name="oldPass" placeholder="Contraseña actual" autocomplete="off"
                        id="password">
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                </label>
                <label>Nueva contraseña
                    <input type="password" name="newPass" placeholder="Nueva contraseña" autocomplete="off"
                        id="password1">
                    <i class="bi bi-eye-slash" id="togglePassword1"></i>
                </label>
                <label>Confirmación de la nueva contraseña
                    <input type="password" name="confirmNewPass" placeholder="Confirmar nueva contraseña"
                        autocomplete="off" id="password2">
                    <i class="bi bi-eye-slash" id="togglePassword2"></i>
                </label>
                <input type="hidden" name="userPass" value="<%= name %>">
                <button class="btn-success">
                    Actualizar
                </button>
            </form>
        </div>
        <%} else { %>
            <h1><strong>
                    <%= name %>
                </strong></h1>
            <a href="login" class="a-login">Iniciar sesión</a>
            <% } %>

                <%- include('./partials/sweetalert'); %>

                    <%- include('./partials/footer'); %>